@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 105 0 0; /* dark red */
  --color-secondary: 211 0 1; /* light red */
  --color-tertiary: 240 231 233; /* rose */
  --color-accent: 21 209 216; /* cyan */
}

.gradient__primary {
  stop-color: rgb(var(--color-primary));
}

.gradient__secondary {
  stop-color: rgb(var(--color-secondary));
}

.gradient__accent {
  stop-color: rgb(var(--color-accent));
}
