.byebug_history
.dockerignore
.env*
.eslintignore
.eslintrc.js
.eslintcache
.foreman
.git
.github
.gitignore
.gitattributes
.rspec
.rubocop.yml
.vscode
.yarnclean
.prettierignore
.prettierrc.json
.slim-lint.yml
docs
coverage
**/*.DS_Store
Brewfile
Brewfile.lock.json
Dockerfile
docker-compose.yml
docker-volumes
Procfile*
Guardfile
log/*
node_modules
public/assets
tmp/*
!/tmp/pids/
!/tmp/pids/.keep
yarn-error.log
config/environments/test.rb
config/environments/development.rb
cypress.config.json
spec
README.md
bin/bundle
bin/cypress
bin/dev
bin/rspec
bin/rubocop
bin/setup
bin/yarn
