header class= ['flex justify-between items-end p-5 space-x-5 lg:flex-col lg:items-stretch lg:p-0 lg:space-y-36 lg:space-x-0', @class]
  = image_tag asset_path('logo.svg'),
              class: 'p-3 w-20 h-20 bg-gradient-to-br from-slate-200 to-white rounded lg:w-56 lg:h-56',
              alt: 'Logo',
              width: 150,
              height: 150

  = render Tabs::Component.new do |c|
    - c.tabs [ \
    { text: 'Home',  href: root_path  },
    { text: 'About', href: about_path } \
    ]
