nav class="flex space-x-5 text-lg font-medium text-center uppercase lg:flex-col lg:space-y-5 lg:space-x-0"
  - tabs.each do |tab|
    = link_to tab.text,
                  tab.href,
                  class: [ 'px-2 py-1 rounded-md lg:shadow',
                           current_page?(tab.href) ? 'text-primary bg-white lg:bg-primary lg:text-white' : 'hover:font-bold bg-transparent text-white lg:text-primary lg:bg-white' \
                         ],
                  data: { turbo_action: 'replace' }
