<div class="flex items-center gap-2">
  <code class="badge badge-ghost badge-sm font-mono"><%= commit_version %></code>

  <time class="hidden whitespace-nowrap sm:inline" datetime="<%= commit_time %>" data-controller="timeago">
    <%= commit_time %>
  </time>
</div>
