svg class="fixed inset-0 hidden w-full h-96 drop-shadow-xl lg:block" fill="none" preserveaspectratio="none" viewbox="0 0 100 100"
  defs
    lineargradient#grad1 x1="0" y1="0" x2="100%" y2="0"
      stop offset="0%" class="gradient__rails-dark"
      stop offset="30%" class="gradient__rails-light"
      stop offset="100%" class="gradient__rails-dark"
  polygon fill="url(#grad1)" points="0,0 0,100 100,40 100,0"

svg class="fixed bottom-0 hidden w-full h-96 drop-shadow-xl lg:block" fill="none" preserveaspectratio="none" viewbox="0 0 100 100"
  defs
    lineargradient#grad2 x1="0" y1="0" x2="100%" y2="0"
      stop offset="0%" class="gradient__rails-dark"
      stop offset="60%" class="gradient__rails-light"
      stop offset="100%" class="gradient__rails-dark"
  polygon fill="url(#grad2)" points="0,80 0,100 100,100 100,50"
