= turbo_stream_from 'clicks'

div data-controller="clicks--component"
  div class="flex flex-col w-full mt-5 lg:absolute lg:-top-5 lg:-right-10 lg:p-3 lg:mt-0 lg:w-56 lg:bg-gradient-to-br lg:from-slate-100 lg:to-white lg:rounded lg:shadow"
    div [
      id="counter"
      class="text-5xl font-bold text-center"
      data-clicks--component-target="counter"
      data-transition-enter="transition-transform duration-300 ease-out"
      data-transition-enter-start="scale-0"
      data-transition-enter-end="scale-100"
      data-transition-leave="transition-transform duration-200 ease-in"
      data-transition-leave-start="scale-100"
      data-transition-leave-end="scale-0"
    ]
      = count

    div class="py-1 text-center uppercase"
      | Clicks

    = button_to 'Click me!',
                clicks_path,
                class: 'py-2 mt-3 w-full font-medium text-black hover:text-white bg-tertiary hover:bg-secondary rounded active:outline-none active:ring-2 active:ring-secondary active:ring-offset-1'

    p class="hidden mt-3 text-xs text-center text-gray-600 sm:block"
      | Tip: Open two browser windows in parallel and see what happens.

  h2 class='mt-20 text-xl font-medium tracking-wide text-center uppercase text-primary sm:text-left'
    | Latest clicks

  = turbo_frame_tag 'clicks',
                    data: { action: 'turbo:before-stream-render@document->clicks--component#receive' } do
    ul[
      id='list'
      class='text-sm md:text-base'
      data-clicks--component-target='list'
      data-transition-leave='transition-all duration-200 ease-out'
      data-transition-leave-start='translate-y-0'
      data-transition-leave-end='translate-y-24'
    ]
      = render Click::Component.with_collection(clicks)
