<%= render PageTitle::Component.new('About') %>

<div class="mt-6 mb-20 max-w-4xl text-xl">
  <p>
    Templatus is an opinionated template for web applications with
    <b>Ruby on Rails</b> and <b>Hotwire</b>
  </p>
</div>

<%= render About::Component.new %>
