<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Component Preview</title>
    <%= vite_typescript_tag 'application', data: { turbo_track: 'reload' } %>
    <%= vite_stylesheet_tag 'application.css', data: { turbo_track: 'reload' } %>
  </head>

  <body class="bg-base-200 text-base-content">
    <div class="p-4">
      <%= yield %>
    </div>
  </body>
</html>
